@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* common styles */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex {
  display: flex;
}
.dark-1 {
  color: rgba(19, 19, 19, 1);
}
.dark-2 {
  color: rgba(66, 66, 66, 1);
}
.dark-3 {
  color: (114, 114, 114, 1);
}
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 144, 14, 1);
  font-weight: 600;
  font-size: 1.4rem;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
}
.text-primary {
  color: rgba(255, 144, 14, 1);
}

/* navber styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: bold;
  font-size: 2.8rem;
}
.nav-links {
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
}
.nav-item a:hover {
  background-color: aquamarine;
}

.navber,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner styles */
.banner-content {
  max-width: 860px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: bold;
  font-size: 4rem;
}
.banner-description {
  font-weight: 400;
  font-size: 1rem;
}
.banner-image {
  width: 100%;
}

/* team and futures styles */
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 70px;
}
.teams {
  align-items: center;
}
.team-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-futures {
  margin-left: 73px;
  max-width: 537px;
}
.future-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 24px;
}
#quick-list {
  font-weight: 500;
}
.future-description {
  margin-bottom: 30px;
}

/* futures and card styles */
.futures {
  max-width: 1462px;
  margin: 130px auto;
  gap: 80px;
}
#section-title {
  border-left: 5px solid rgba(255, 144, 14, 1);
  padding-left: 49px;
}
.future-title {
  font-weight: bold;
  font-size: 2.8rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
.future-card {
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.future-card .future-title {
  font-weight: 600;
  font-size: 1.25rem;
}
#experience-badge {
  padding: 35px 30px;
  margin-left: -70px;
  margin-top: -70px;
}
#experience-year {
  font-size: 3rem;
  font-weight: 700;
}
#exprience-badge {
  font-size: 1.25rem;
  font-weight: 500;
}

/* some facts styles */
.facts-title {
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 24px;
}
.facts-description {
  max-width: 542px;
}
.fact-card {
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 8px;
  width: 241px;
  height: 241px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
}
.fact-number {
  font-weight: 600;
  font-size: 2.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fact-name {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 10px;
}

/* sponsors styles */
.our-sponsors {
  max-width: 1440px;
  margin: 0px auto;
}
.sponsor-info {
  max-width: 542px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-title {
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 24px;
}
.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img {
  filter: grayscale(100%);
}

/* footer section styles */
.footer-section {
  max-width: 1440px;
  margin-top: 130px;
}
.footer-info {
  font-size: 1.25rem;
  text-align: center;
  border-radius: 8px;
  padding: 39px 410px;
}

/* media quarey styles */
@media screen and (max-width: 576px) {
  .navbar,
  .teams {
    flex-direction: column;
  }
  .team-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-futures {
    margin: 20px auto;
  }
  .fact-card {
    width: 100%;
    margin-bottom: 15px;
  }
  .sponsor-companies {
    gap: 50px;
  }
  .footer-info {
    margin: 10px auto;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 536px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-futures {
    margin: 20px auto;
  }
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 30px;
  }
  .facts-title,
  .facts-description {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  .fact-card {
    width: 80%;
    margin: 20px 40px;
  }
  .sponsor-companies {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .footer-info {
    margin: 10px auto;
    padding: 20px 30px;
  }
}
